<div class="site-section cta-big-image" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Welcome to Behala High School</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <!--<figure class="circle-bg">
          <img src="assets/images/hero_1.jpg" alt="Image" class="img-fluid">
          </figure>-->
        <p>Present educationists are of opinions that to create a strong society, we need to enhance the quality of education. Students must have transparent knowledge of Science, Environment, Modern Technologies and must have an all-round development to face the criteria of survival in this modern ever-changing society.</p>
        <p>The chief goal of Behala High School is to impart modern education to all local students of every caste, creed and social status. Teaching is considered to be a noble profession in India from ages. The process of developing and nurturing good citizens is an ongoing process. We are privileged to be one such educational institution vibrating with inherent team efforts of teachers, students and non-teaching staff.</p>
        <p>Behala High School, established on 27th June, 1886 in the courtyard of London Missionary School, has become a brand in itself. From that era of national movement till the present day of political cross-current, the institute stood high upholding its age old values and ethics. Herein lies the difference between a so called sophisticated business oriented Institution and the BEHALA HIGH SCHOOL. From time immemorial various glorious personalities have adorned the posts of the President and the Secretary. Personalities who have dedicated their lives to teaching have glorified the education system of this institution.</p>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 text-black">At a Glance</h3>            
          </div>
          <div class="mb-4">
            
                    <ul class="list-unstyled ul-check success">                
                            <li> A three storey building with 56 rooms.</li>
                            <li> An auditorium with 700 seating capacity.</li>
                            <li> A hall 'Rabindra Niketan' with 250 seating capacity.</li>
                            <li> An air-conditioned computer lab with qualified computer professionals.</li>
                            <li> A library with almost 2500 books.</li>
                            <li> An air-conditioned conference room with overhead projector facility to facilitate audio-vidual teaching-learning process.</li>
                            <li> Provision for co-educational General Stream(Arts, Science, Commerce) and Vocational Stream(Business &amp; Commerce).</li>
                            <li> Highly equipped science laboratories.</li>
                            <li> Nurturing the spirit of sports and games and other cultural openings.</li>
                            <li> Opportunity to join Govt. and Non-Govt. level seminars and workshops.</li>                    
                    </ul>
            
          </div>
          <p><a href="#contact-section" class="smoothscroll btn btn-primary">Get In Touch</a></p>
  
          
          
        </div>
      </div>
    </div>  
  </div>